@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
}
.bold{
    font-weight: 700;
}
.medium{
    font-weight: 500;
}
.semibold{
    font-weight: 600;
}
.regular{
    font-weight: 400;
}
.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-size: 0.94rem;
    font-weight: 500;
    font-style: normal;
}

*{
    margin: 0px;
}

/* shared styles */
.display-flex{
    display: flex;
}
.orange{
    color: orange;
}
.skyblue{
    color: #01ACFD;
}
.skyblue2{
    color: #05D4DF;
}
.color1{
    color: #5D58EF;
}
section{
    padding: 60px 0px;
}
.section-title{
    font-size: 2.86rem;
    font-weight: 700;
}
.btn-primary{
    color: #FFFFFF;
    background-color: black;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 197px;
    font-size: 1.25rem;
}
.box-title{
    font-size: 1.5rem;
}
.box-description{
    max-width: 286px;
    color: #808080;
}
/* Header related styles */
/* nav bar styles */
.navbar{
    max-width: 1160px;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    align-items: center;
}
.nav-title{
    font-size: 2rem;
    color: black;
}
.nav-button{
    background-color: orange;
    font-weight: 600;
}

.nav-links{
    list-style-type: none;
    justify-content: space-between;
    gap: 32px;
    padding: 0px;
}
.nav-links a{
    text-decoration: none;
}
#nav-icon{
    display: none;
}
/* banner styles */
.banner{
    max-width: 1160px;
    margin: 0px auto;
    align-items: center;
    gap: 50px;
}
.banner-img{
    width: 100%;
}
.btext-area{
    max-width: 640px;
}
.banner-title{
    font-size: 3.5rem;
}
.banner-description{
    margin: 20px 0px;
}
/* Main related styles */
/* Curriculum styles */
.curriculum{
    flex-direction: column;
    text-align: center;
    gap: 80px;
    background-image: url('../assets/bg.png');
    background-size: cover;
}
.curriculum-container{
    max-width: 1160px;
    margin: 0px auto;
    gap: 28px;
}
.blue-gradient{
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF 40%);
}
.orange-gradient{
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF 40%);
}
.purple-gradient{
    background: linear-gradient(to bottom, #EEE1FF, #FFFFFF 40%);
}
.c-box{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 367px;
    border-radius: 18px;
    padding: 50px 40px;
    box-shadow: inset 0px 0px 28px rgba(0, 0, 0, 0.05);
}
.cbutton-area{
    text-align: center;
    margin: 0px auto;
    max-width: 130px;
}
.c-button{
    background-color: orange;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.read-more{
    font-size: 1rem;
    font-weight: 700;
    /* color: orange; */
}
/* Stories section styles */
.stories{
    flex-direction: column;
    gap: 80px;
    text-align: center;
    background-image: url('../assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to top, #FFF4DC, #FFFFFF);
}
.stories-container{
    max-width: 1160px;
    margin: 0px auto;
}
/* Footer related styles */
.footer ul{
    list-style-type: none;
    padding: 0px;
    gap: 10px;
    margin-top: 32px;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer{
    background-color: #01ACFD;
    padding: 60px 0px;
    gap: 40px;
}
.footer-container{
    max-width: 1160px;
    margin: 0px auto;
    justify-content: space-between;
}
.footer-description{
    color: white;
    max-width: 400px;
}
.footer-title{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.f-imgtext{
    color: white;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0;
}
.kids-education{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer-img{
    margin: 0px;
    height: 100%;
}
.footer-logo{
    align-items: center;
    width: 300px;
    height: 80px;
}
/* media related styles */
@media screen and (max-width: 576px){
    .nav-title{
        display: none;
    }
    .nav-button{
        display: none;
    }
    .nav-links{
        display: none;
    }
    #nav-icon{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .btext-area{
        text-align: center;
    }
    .curriculum-container,
    .footer-container{
        flex-direction: column;
    }
}