@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
}
.bold{
    font-weight: 700;
}
.medium{
    font-weight: 500;
}
.semibold{
    font-weight: 600;
}
.regular{
    font-weight: 400;
}
.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-size: 0.94rem;
    font-weight: 500;
    font-style: normal;
}

*{
    margin: 0px;
}

/* shared styles */
.display-flex{
    display: flex;
}
.orange{
    color: orange;
}
.skyblue{
    color: #01ACFD;
}
.skyblue2{
    color: #05D4DF;
}
.color1{
    color: #5D58EF;
}
section{
    padding: 60px 0px;
}
.section-title{
    font-size: 2.86rem;
    font-weight: 700;
}
.btn-primary{
    color: #FFFFFF;
    background-color: black;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 197px;
    font-size: 1.25rem;
}
.btn-primary:hover{
    background-color: #5D58EF;
}
.box-title{
    font-size: 1.5rem;
}
.box-description{
    max-width: 286px;
    color: #808080;
}
/* Header related styles */
/* nav bar styles */
.navbar{
    max-width: 1160px;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    align-items: center;
}
.nav-title{
    font-size: 2rem;
    color: black;
}
.nav-button{
    background-color: orange;
    font-weight: 600;
}

.nav-links{
    list-style-type: none;
    justify-content: space-between;
    gap: 32px;
    padding: 0px;
}
.nav-links a{
    text-decoration: none;
}
#nav-icon{
    display: none;
}
/* banner styles */
.banner{
    max-width: 1160px;
    margin: 0px auto;
    align-items: center;
    gap: 50px;
}
.banner-img{
    width: 100%;
}
.btext-area{
    max-width: 640px;
}
.banner-title{
    font-size: 3.5rem;
}
.banner-description{
    margin: 20px 0px;
}


/* marquee */


.marquee{
    margin: 0px auto;
    background-color: #a4ddb5;
    color: #31312f;
    padding: 5px;
    font-size: 1.25rem;
}


/* Main related styles */
/* Curriculum styles */
.curriculum{
    flex-direction: column;
    text-align: center;
    gap: 80px;
    background: url('../assets/bg.png') no-repeat center center / cover;
}
.curriculum-container{
    max-width: 1160px;
    margin: 0px auto;
    gap: 28px;
}
.blue-gradient{
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF 40%);
}
.orange-gradient{
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF 40%);
}
.purple-gradient{
    background: linear-gradient(to bottom, #EEE1FF, #FFFFFF 40%);
}
.c-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 367px;
    border-radius: 18px;
    padding: 50px 40px;
    box-shadow: inset 0px 0px 28px rgba(0, 0, 0, 0.05);
}
.cbutton-area{
    text-align: center;
    margin: 0px auto;
    max-width: 130px;
}
.c-button{
    background-color: orange;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.c-button:hover{
    background-color: #5D58EF;
}
.c-img{
    width: 136px;
}
.read-more{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    /* color: orange; */
}
/* Stories section styles */
.text-center{
    text-align: center;
}
.margin-auto{
    margin: 0px auto;
}
.stories{
    flex-direction: column;
    gap: 80px;
    background: 
        url('../assets/bg.png') no-repeat center center / cover,
        linear-gradient(to top, #FFF4DC, #FFFFFF);
}
.color2{
    background-color: #95B226;
}
.color3{
    background-color: #5D58F0;
}
.color4{
    background-color: #3CD8E8;
}
.story1{
    grid-area: story1;
}
.story2{
    grid-area: story2;
}
.story3{
    grid-area: story3;
}
.story4{
    grid-area: story4;
}
.story5{
    grid-area: story5;
}
.story2 h3, .story3 h3, .story4 h3, .story5 h3{
    font-size: 1rem;
    font-weight: 700;
    margin: 15px 25px 25px 25px;
}
    
.stories-container{
    max-width: 1160px;
    margin: 0px auto;
    display: grid;
    grid-template-areas: 
        'story1 story1 story2 story3'
        'story1 story1 story4 story5';
    ;
    gap: 20px;

}
.story-box{
    background-color: #FFFFFF;
    border-radius: 16px;
    max-width: 540px;
    max-height: 630px;
}
.story-img{
    border-radius: 16px 16px 0px 0px;
    width: 100%;
}
.story-description{
    color: #808080;
    margin: 0px 32px 32px 32px;
}
.story-title{
    font-size: 1.5rem;
    margin: 20px 32px 32px 32px;
}
.round-box{
    color: white;
    padding: 15px 20px;
    border-radius: 48px;
    max-width: 135px;
    margin: -35px 0px 0px 32px;
    position: relative;
}

/* Footer related styles */
.footer ul{
    list-style-type: none;
    padding: 0px;
    gap: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: 500;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer{
    background-color: #01ACFD;
    padding: 60px 0px;
    gap: 40px;
}
.footer-container{
    max-width: 1070px;
    margin: 0px auto;
    justify-content: space-between;
}
.footer-description{
    color: white;
    max-width: 400px;
    margin-bottom: 32px;
}
.footer-title{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.f-imgtext{
    color: white;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0;
}
.kids-education{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer-img{
    margin: 0px;
    height: 100%;
}
.footer-logo{
    align-items: center;
    width: 300px;
    height: 80px;
}
/* media related styles */
@media screen and (max-width: 576px){
    .banner,
    nav,
    .footer-container{
        padding: 10px;
    }
    nav{
        border: .5px solid orange ;
        padding: 12px 16px;
    }
    .navbar{
        margin: 0px;
    }
    .nav-title,
    .nav-links,
    .nav-button,
    .cbutton-area,
    .story1{
        display: none;
    }
    #nav-icon{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .btext-area{
        text-align: center;
    }
    .curriculum-container,
    .footer-container{
        flex-direction: column;
    }
    .curriculum-container{
        margin: 0px;
        align-items: center;
    }
    .stories-container{
        padding: 10px;
        grid-template-areas: 
            'story2 story3'
            'story4 story5';
        ;
        gap: 10px;
    }
    .round-box p{
        font-size: .6rem;
    }
    .round-box{
        max-width: 85px;
        border-radius: 30px;
        padding: 6px 12px;
        margin: -18px 0px 0px 32px;
    }
    .story-title{
        font-size: 6rem;
        margin: 10px;
    }
    .c-img{
        width: 92px;
    }
    .c-box{
        width: calc(90% - 65px);
    }
    .marquee{
        font-size: 0.8rem;
        padding: 5px;
    }
}